<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <title>Hello Amaze UI</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="icon" type="../../_img/png" href="__IMG__/i/favicon.png">
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="__IMG__/i/app-icon72x72@2x.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="__IMG__/i/app-icon72x72@2x.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="__IMG__/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">
    
    <link rel="stylesheet" href="__CSS__/amazeui.min.css">
    <link rel="stylesheet" href="__CSS__/app.css">
    
</head>
<body>
  <ul class="am-nav" style="background:#01AAED; color: white; height:40px;">
  <li class="am-active">
      <span onclick="javascript:history.back()" class="am-icon-angle-left am-icon-md am-margin-left-sm am-margin-top-xs">&nbsp;&nbsp;我的评论</span>
      <span id="clear" class="am-fr am-margin-right-sm am-margin-top-xs"></span>
  </li>
</ul>
<ul class="am-list" id="list_div">
  
</ul>
<script src="__JS__/jquery.min.js"></script>
<script type="text/javascript" src="__JS__/amazeui.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
   recoopList();
   // $("#clear").on('click',function(){
   //    $.post('clearMycomments',{},function(e){
   //      if(e.success){

   //      }
   //    })
   // });
}) 
function recoopList(){
  $.post('getDisscussList',{},function(rs){
    
  var content = '';
  console.log(rs);
  if(rs.success){
    var data = rs.data;   
    for(var i = 0;i<data.length;i++){
      var time=data[i].Discuss_time.substring(0,10);
      var userimage='__UPLOAD__/'+data[i].image;
      var photo=data[i].Photo;
      console.log(userimage);
      console.log(time);
      if(photo===null || photo===''){
          content+='<li class="get" id="aid'+data[i].Article_id+'">\
                  <a href="#">\
                    <div class="am-g">\
                        <img class="am-radius am-fl am-margin-left-sm am-margin-top-xs" alt="140*140" src="'+userimage+'" width="50" height="50" />\
                      <div class="am-text-xs am-fl am-margin-left-sm">\
                        <font color="#000"><span>'+data[i].Nickname+'</span></br><div class="am-text-xs am-text-truncate" style="width: 200px;">'+data[i].Discuss_Content+'</div><span>'+time+'</span></font>\
                    </div>\
              </div>\
                  </a>\
                </li>';
      }
      else
      {
        photoarr=photo.split(";");
        content+='<li class="get" id="aid'+data[i].Article_id+'">\
                  <a href="#">\
                    <div class="am-g">\
                        <img class="am-radius am-fl am-margin-left-sm am-margin-top-xs" alt="140*140" src="'+userimage+'" width="50" height="50" />\
                      <div class="am-text-xs am-fl am-margin-left-sm">\
                        <font color="#000"><span>'+data[i].Nickname+'</span></br><div class="am-text-xs am-text-truncate" style="width: 200px;">'+data[i].Discuss_Content+'</div><span>'+time+'</span></font>\
                    </div>\
                  <div>\
                    <img style="width: 80px;height: 60px" class="am-radius am-fr am-margin-right-sm " alt="140*140" src="__IMG__/'+photoarr[0]+'" />\
                </div>\
              </div>\
                  </a>\
                </li>';
           }
      
      }
            if(content==""){
                $('#list_div').html('<img class="am-img-responsive " alt="140*140" src="'+'__IMG__/'+'评论.png" />')
                return;

              }
              $("#list_div").html(content);
              $('.get ').on('click',function(){ 
                var aid = $(this).attr("id");
                var encodeData = window.btoa(aid);
                console.log($(this).attr("id"));  
                window.location.href='{:url("index/Index/articles")}?aid='+encodeData;
             });         
      }
  }).error(function(){
          $('#list_div').html('<img class="am-img-responsive " alt="140*140" src="'+'__IMG__/'+'异常.png" />')
        });
}
    
</script>
</body>
</html>