<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <title>Hello Amaze UI</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="icon" type="../../_img/png" href="__IMG__/i/favicon.png">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="__IMG__/i/app-icon72x72@2x.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="__IMG__/i/app-icon72x72@2x.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="__IMG__/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">
    
    <link rel="stylesheet" href="__CSS__/amazeui.min.css">
    <link rel="stylesheet" href="__CSS__/app.css">
     <!-- 窗口缩放 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    
</head>
<body>
<ul class="am-avg-sm-3 am-thumbnails am-text-primary" style="margin:0px; background:#01AAED; color: white;">
  <li><span class="am-margin-top-xs am-padding-left-xs am-icon-angle-left am-icon-md" onclick="window.location.href='index.html';"></span></li>
  <li><span class="am-margin-top-xs am-center am-text-lg am-padding-right-xs">&nbsp;&nbsp;我的收藏</span></li>
</ul>  
<ul class="am-list am-list-border am-margin-top-0" id="list_div"> 
    <!-- <li class="am-margin-top-sm am-margin-top-0">
      <a href="#" class="am-padding-0">
        <div class="am-g am-text-primary">  
          <div class="am-u-sm-8"> 
            <div class="am-u-sm-3 am-padding-0">
              <img style="width:40px; height:40px"  class="am-margin-top-xs am-circle am-img-thumbnail am-padding-0 " style="border:0px;" alt="140*140" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1555733042&di=df72647a02ffca02f2171a317572e2c8&imgtype=jpg&er=1&src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F01f94255e0204432f875a1329c8afe.jpg%401280w_1l_2o_100sh.jpg"  />
            </div>
            <div class="am-u-sm-9 am-padding-0">
              <p class="am-margin-0">江小白</p>
              <p class="am-margin-0 am-text-xs">04-25 10:25
              </p>
            </div>
            <br/>
            
              <h3 class=" am-text-truncate " style="width: 90%;">活动名的介绍ashcvan anaskmv JKJK  kads</h3>
                                      
          </div>
          <div class="am-u-sm-4 am-padding-0">
            <img style="width:120px; height:120px"  class="am-radius am-img-thumbnail am-padding-0 am-fr am-margin-right-xs"  alt="140*140" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1555733042&di=df72647a02ffca02f2171a317572e2c8&imgtype=jpg&er=1&src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F01f94255e0204432f875a1329c8afe.jpg%401280w_1l_2o_100sh.jpg"  />
        
          </div>
        </div>
      </a>
    </li>
    <li class="am-margin-top-sm am-margin-top-0">
      <a href="#" class="am-padding-0">
        <div class="am-g am-text-primary">  
          <div class="am-u-sm-8"> 
            <div class="am-u-sm-3 am-padding-0">
              <img style="width:40px; height:40px"  class="am-margin-top-xs am-circle am-img-thumbnail am-padding-0 " " alt="140*140" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1555733042&di=df72647a02ffca02f2171a317572e2c8&imgtype=jpg&er=1&src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F01f94255e0204432f875a1329c8afe.jpg%401280w_1l_2o_100sh.jpg"  />
            </div>
            <div class="am-u-sm-9 am-padding-0">
              <p class="am-margin-0">江小白</p>
              <p class="am-margin-0 am-text-xs">04-25 10:25
              </p>
            </div>
            <br/>
            
              <h3 class=" am-text-truncate " style="width: 90%;">活动名的介绍ashcvan anaskmv JKJK  kads</h3>
                                      
          </div>
          <div class="am-u-sm-4 am-padding-0">
            <img style="width:120px; height:120px"  class="am-radius am-img-thumbnail am-padding-0 am-fr am-margin-right-xs "  alt="140*140" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1555733042&di=df72647a02ffca02f2171a317572e2c8&imgtype=jpg&er=1&src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F01f94255e0204432f875a1329c8afe.jpg%401280w_1l_2o_100sh.jpg"  />
        
          </div>
        </div>
      </a>
    </li> -->

             
</ul>
<script src="__JS__/jquery.min.js"></script>
<script type="text/javascript" src="__JS__/amazeui.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $.post('getMyfavorite',{},function(e){
    if(e.success){
      var content = '';
      for(let i = 0;i<e.data.length;i++){
        let time=e.data[i].Activity_time.substring(0,5).replace('-','月')+'日';
        let image='__UPLOAD__/'+e.data[i].image;
        // console.log(time);
        content+='<li id="aid'+e.data[i].Activity_ID+'" class="get get'+i+'" style="border-top-width:10px;">'+
                 '<a href="#" class="am-padding-0">'+
                 '<div class="am-g am-text-primary">'+
                 '<div class="am-u-sm-8">'+ 
                 '<div class="am-u-sm-3 am-padding-0">'+
                 '<img style="width:40px; height:40px" class="am-margin-top-xs am-circle am-img-thumbnail am-padding-0 " alt="140*140" src="'+image+'" />'+
                  '</div>'+
                  '<div class="am-u-sm-9 am-padding-0">'+
                  '<font color="#000"><p class="am-margin-0">'+e.data[i].Nickname+'</p>'+
                  '<p class="am-margin-0 am-text-xs">'+time+'</p></font>'+
                  '</div>'+
                  '<br/>'+
                  '<h3 class=" am-text-truncate " style="width: 90%; color:#000">'+e.data[i].Activity_title+'</h3>'+       
                  '</div>'+
                  '<div class="am-u-sm-4 am-padding-0">'+
                  '<img style="width:100px; height:100px"  class="am-radius am-img-thumbnail am-padding-0 am-fr am-margin-right-xs"  alt="140*140" src="'+'__UPLOAD__/'+e.data[i].Article_image+'"  />'+   
                  '</div>'+
                  '</div>'+
                  '</a>'+
                  '</li>';
          }
              if(content==""){
                $('#list_div').html('<img class="am-img-responsive " alt="140*140" src="'+'__IMG__/'+'收藏.png" />')
                return;

              }
               $('#list_div').html(content);
               $('.get0').css({"border-top-width":"0px"});
               $('.get ').on('click',function(){ 
                var aid = $(this).attr("id");
                var encodeData = window.btoa(aid);
                // console.log($(this).attr("id"));
                window.location.href='{:url("extra/Index/activity")}?aid='+encodeData;

         

           });              

          }
  })
})
</script>
</body>
</html>