<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <title>Hello Amaze UI</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="icon" type="../../_img/png" href="__IMG__/i/favicon.png">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="__IMG__/i/app-icon72x72@2x.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="__IMG__/i/app-icon72x72@2x.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="__IMG__/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">
    
    <link rel="stylesheet" href="__CSS__/amazeui.min.css">
    <link rel="stylesheet" href="__CSS__/app.css">
     <!-- 窗口缩放 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    
</head>
<body>
<ul class="am-avg-sm-3 am-thumbnails am-text-primary" style="margin:0px; background:#01AAED; color: white;">
  <li><span class="am-margin-top-xs am-padding-left-xs am-icon-angle-left am-icon-md" onclick="javascript:history.back()"></span></li>
  <li><span class="am-margin-top-xs am-center am-text-lg am-padding-right-xs">&nbsp;&nbsp;我的消息</span></li>
  
</ul>  
<ul  class="am-list am-list-border am-margin-0" id="list_div0">
</ul>
<script src="__JS__/jquery.min.js"></script>
<script type="text/javascript" src="__JS__/amazeui.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $.post('getMymessage',{},function(e){
    if(e.success){
      var content = '';
      for(let i = 0;i<e.data.length;i++){
        // console.log(e.data.length)
        let time=e.data[i].time.substring(5,10).replace('-','月')+'日';
        // console.log(time)
        content+='<li class="am-margin-top-0">\
                    <a href="#" class="am-padding-0">\
                        <div class="am-margin-left-sm">\
                            <p style="width: 95%" class="am-text-truncate am-margin-top-sm am-text-lg am-margin-bottom-0"><font color="#000">'+e.data[i].content+'</font></p>\
                            <p class="am-margin-top-0 am-margin-bottom-sm am-text-sm"><font color="#000">'+time+'</font></p>\
                        </div>\
                    </a>\
                </li>';
      }
      if(content==""){
        $('#list_div0').html('<img class="am-img-responsive " alt="140*140" src="'+'__IMG__/'+'消息.png" />')
          return;

        }
      $('#list_div0').html(content);
    }
  }).error(function(){
          $('#list_div0').html('<img class="am-img-responsive " alt="140*140" src="'+'__IMG__/'+'异常.png" />')
        });
})
</script>
</body>
</html>