<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<!--Head-->
<head>
    <meta charset="utf-8" />
    <title>社团管理</title>

    <meta name="description" content="login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="__IMG__/favicon.png" type="image/x-icon">

    <!--Basic Styles-->
    <link href="__CSS__/bootstrap.min.css" rel="stylesheet" />
    <link id="bootstrap-rtl-link" href="" rel="stylesheet" />
    <link href="__CSS__/font-awesome.min.css" rel="stylesheet" />

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">

    <!--Beyond styles-->
    <link id="beyond-link" href="__CSS__/beyond.min.css" rel="stylesheet" />
    <link href="__CSS__/demo.min.css" rel="stylesheet" />
    <link href="__CSS__/animate.min.css" rel="stylesheet" />
    <link id="skin-link" href="" rel="stylesheet" type="text/css" />

    <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
    <script src="__JS__/skins_super.min.js"></script>
</head>
<!--Head Ends-->
<!--Body-->
<body>
    <div class="login-container animated fadeInDown">
        <div class="loginbox bg-white">
            <div class="loginbox-title">用户登录</div>
            
            <div class="loginbox-or">
                <div class="or-line"></div>
                <div class="or">社团用户</div>
            </div>
            <form action="Index/login" method="post">
            <div class="loginbox-textbox">
                <input type="text" class="form-control" name="name" placeholder="请输入账号" />
            </div>
            <div class="loginbox-textbox">
                <input type="text" class="form-control" name="password" placeholder="默认6个1" />
            </div>
            <div class="loginbox-forgot">
                <a href="">忘记密码?</a>
            </div>
            <div class="loginbox-submit">
                <button type="submit" class="btn btn-primary btn-block">确定</button>
            </div>
            </form>
            <div class="loginbox-signup">
                <!-- <a href="register.html">使用手机号登录</a> -->
            </div>
        </div>
        <div class="logobox">
        
        </div>
    </div>

    <!--Basic Scripts-->
    <script src="__JS__/jquery-2.0.3.min.js"></script>
    <script src="__JS__/bootstrap.min.js"></script>

    <!--Beyond Scripts-->
    <script src="__JS__/beyond.js"></script>

    <!--Google Analytics::Demo Only-->
    <script>
     
    </script>
</body>
<!--Body Ends-->
</html>
